* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--verde-neon);
}
/* ----- PALHETA DE CORES ----- */
:root {
    --verde-neon: #39FF14;
}
/* ____________________________ */
@media screen and (min-width:800px) and (max-width: 2000px) {
    body {
        min-width: 900px;
        max-width: 2000px;
        height: 3000px;
        margin: 0 auto;
        background-color: black;
    }
    /* ----- CABEÇALHO E MENU PRINCIPAL ------ */
header {
    width: 100%;
    min-height: 50px;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.barra-menu {
    display: none;
}
.logoMobile {
    display: none;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin-right: 200px;
}
.menu {
    width: 120px;
    height: 40px;
    border: double transparent;
    border-radius: 10px;
    /* margin-right: -100px; */
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu:hover {
    transition: 0.5s;
    border: double;
    font-size: 20px;
}
/* ________________________ */

/* CONTEÚDO PRINCIPAL */
main {
    width: 100%;
    height: 2000px;
    padding-top: 70px;
}
.conteudos {
    width: 100%;
    min-height: 600px;
    z-index: 3;
}
/* INICIO */
#inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-image: url(../img/liguagens-de-programacao.jpg);
    background-size: 100% 100%;
}
.inicio-textos {
    width: 45%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: aparecer 5s linear;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.inicio-textos h1, p {
    margin: 30px;
    text-align: center;
}
.inicio-textos h1 {
    font-size: 80px;
}
.inicio-textos p {
    font-size: 50px;
}
.inicio-textos a {
    margin-bottom: 15px;
}
input[type=button] {
    background-color: var(--verde-neon);
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    height: 35px;
    border: solid var(--verde-neon);
    border-radius: 10px;
}
/* SOBRE */
#sobre {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
}
#sobre img.bruno {
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 80px var(--verde-neon);
}
.sobre-mim {
    width: 50%;
    border: 5px double;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* OBS: ESTA LINHA DE CÓDIGOS SO APARECERÁ EM PEQUENAS TELAS */
#sobre-tecnologias {
    display: none;
}
/* ________________________________________________ */
.sobre-tecnologias {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.tecnologias, .aprender {
    width: 200px;
    height: 90%;
    /* border: solid; */
}
#html, #css, #js, #git, #nodejs,#bootstrap, #angular, #react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: solid;
    border-radius: 20px;
    cursor: pointer;
}
.linguagens {
    font-size: 120px;
}
.linguagens:hover {
    transition: 0.5s;
    font-size: 150px;
}
/* PEOJETOS */
#projetos {
    width: 100%;
    max-height: 850px;
    padding-top: 80px;
    padding-bottom: 20px;
    /* background-color: var(--verde-neon); */
    background-color: #37ff1492;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#projetos h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 50px;
}
.projetos, .menos {
    width: 90%;
    height: 300px;
    border: solid black;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.projetos-feitos, .embreve {
    min-width: 150px;
    max-width: 250px;
    height: 250px;
    border: 4px double var(--verde-neon);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.3;
}
.projetos-feitos:hover {
    transition: 0.5s;
    opacity: 1;
}
.projetos-feitos a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.projetos-feitos img {
    max-width: 90%;
    /* min-height: 80px; */
    max-height: 110px;
}
.projetos-feitos p {
    min-width: 150px;
    min-height: 30px;
    border: solid transparent;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.menos {
    display: none;
    transition: 1s;
    opacity: 0;
    width: 90%;
    height: 0px;
}
.mais {
    display: flex;
    transition: 1s;
    opacity: 1;
    width: 90%;
    height: 300px;
}
.embreve {
    width: 250px;
    height: 250px;
    opacity: 0.4;
}
.embreve:hover {
    transition: 1s;
    opacity: 1;
}
.embreve h2 {
    font-size: 25px;
    text-transform: uppercase;
    animation: animacao 4s linear infinite;
    animation-delay: 2s;
}
@keyframes animacao {
    0% {
        transform: scaley(2);
    }
    50% {
        transform: scaleY(5);
    }
    100% {
        transform: scaleY(2);
    }
}
#btn {
    background-color: black;
    color: var(--verde-neon);
    width: 180px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
/* CONTATOS */
#contatos {
    background-image: url(../img/notebook.png);
    background-size: 50% 550px;
    background-position: 50%;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(65deg, black, var(--verde-neon), black); */
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
/* OBS: ESTA LINHA DE CÓDIGOS SO APARECERÁ EM PEQUENAS TELAS */
.fundoMobile {
    display: none;
}
/* ___________________________________________________________ */
.menu-contatos {
    width: 70%;
    height: 90%;
    border: solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #37ff1492;
}
.contatosGerais {
    width: 300px;
    height: 300px;
    border: solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contatosGerais .menu {
    color: black;
    font-weight: bold;
}
.contatosGerais .menu:hover {
    transition: 0.5s;
    background-color: black;
    color: var(--verde-neon);
    font-weight: bold;
}
.redes {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: bold;
    height: 80px;
}
.redes i {
    color: black;
    font-size: 50px;
    font-weight: bold;
    opacity: 1;
}
.redes i:hover {
    font-size: 55px;
}
form {
    width: 90%;
    height: 90%;
    border: solid;
    color: black;
}
table {
    color: black;
    width: 100%;
    height: 100%;
}
th {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
td {
    text-align: center;
}
td input[type=email], input[type=password] {
    width: 90%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
td input[type=text] {
    color: black;
    width: 90%;
    height: 100px;
}
}


