@media screen and (min-width: 360px) and (max-width: 800px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: var(--verde-neon);
        font-family: monospace;
    }
    /* ----- PALHETA DE CORES ----- */
    :root {
        --verde-neon: #39FF14;
    }
    /* ____________________________ */
    body {
        min-width: 360px;
        max-width: 800px;
        height: 100%;
        background-color: black;
    }
    /* ----- CABEÇALHO E MENU PRINCIPAL ----- */
    header {
        width: 100%;
        height: 100px;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .barra-menu {
        font-size: 35px;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .logoMobile {
        height: 100px;
        margin-top: -20px;
        font-size: 50px;
        font-style: italic;
        font-weight: bold;
        text-shadow: 1px 2px var(--verde-neon);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        /* background-color: black; */
    }
    .logoMobile img {
        max-height: 180px;
        border: none;
        z-index: 1;
    }
    nav {
        background-color: black;
        width: 70%;
        height: 60%;
        border: solid;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: fixed;
        top: 110px;
        left: -5px;
        /* display: flex; */
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        animation: abrirMenu 0.5s linear;
        z-index: 1;
    }
    @keyframes abrirMenu {
        from {
            left: -300px;
            opacity: 0;
        }
        to {
            left: -5px;
            opacity: 1;
        }
    }
    .logo {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 50px;
        border: 5px double;
        border-radius: 10px;
        padding: 10px;
        font-size: 25px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .menu:hover {
        transition: 0.5s;
        font-size: 22px;
        animation: mexer 0.2s linear;
    }
    @keyframes mexer {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-2deg);
        }
        75% {
            transform: rotate(2deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    /* ______________________________________ */
    
    /* ----- CONTEÚDO PRINCIPAL ----- */
    main {
        width: 100%;
        height: 100%;
        margin-top: 100px;
    }
    .conteudos {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        display: none;
        animation: aparecer 0.3s linear;
    }
    @keyframes aparecer {
        from {
            opacity: 0;
            margin-top: 1000px;
        }
        to {
            opacity: 1;
            margin-top: 100px;
        }
    }
    /* INICIO */
    #inicio {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .inicio-textos {
        margin: 0 auto;
        width: 90%;
        height: 90%;
        border: 4px double;
        border-radius: 20px;
        padding-top: 30px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inicio-textos h1, p {
        margin: 40px;
    }
    .inicio-textos h1 {
        font-size: 40px;
        text-align: center;
        width: 90%;
    }
    .inicio-textos p {
        font-size: 28px;
        width: 90%;
        height: 50px;
    }
    .inicio-textos a {
        margin: 10px;
    }
    input[type=button] {
        width: 150px;
        height: 40px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: var(--verde-neon);
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    /* SOBRE */
    #sobre {
        /* display: flex; */
        display: none;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 250px;
        height: 350px;
        border: 5px double;
        border-radius: 20px;
    }
    .sobre-mim, .sobre-tecnologias {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sobre-mim h1 {
        margin-top: 20px;
        font-size: 30px;
    }
    .sobre-mim p {
        font-size: 20px;
        margin-bottom: 5px;
    }
    #sobre-tecnologias {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
    }
    .sobre-tecnologias {
        width: 95%;
        height: 320px;
        border: 5px double;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px;
    }
    .tecnologias, .aprender {
        width: 30%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }
    
    .tecnologias i, .aprender i {
        font-size: 85px;
        opacity: 0.5;
    }
    .tecnologias i:hover, .aprender i:hover {
        transition: 0.5s;
        opacity: 1;
        font-size: 100px;
    }
    /* PROJETOS */
    #inicio, #sobre {
        display: none;
    }
    #projetos {
        width: 100%;
        min-height: 850px;
        padding-top: 80px;
        padding-bottom: 20px;
        background-color: var(--verde-neon);
        /* background-color: #37ff1492; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #projetos h1 {
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .projetos {
        max-width: 80%;
        min-height: 700px;
        border-radius: 10px;
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
    }
    .projetos-feitos, .embreve {
        min-width: 50px;
        max-width: 250px;
        height: 250px;
        border: 4px double var(--verde-neon);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0.3;
    }
    .projetos-feitos:hover {
        transition: 0.5s;
        opacity: 1;
    }
    .projetos-feitos a {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }
    .projetos-feitos img {
        margin-top: 50px;
        max-width: 90%;
        /* min-height: 80px; */
        max-height: 110px;
        border: none;
    }
    .projetos-feitos p {
        min-width: 150px;
        min-height: 30px;
        border: solid transparent;
        border-radius: 10px;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
    .menos {
        display: none;
        transition: 1s;
        opacity: 0;
        min-width: 80%;
        height: 300px;
    }
    .mais {
        display: flex;
        transition: 1s;
        opacity: 1;
        width: 90%;
        min-height: 300px;
        padding: 20px;
    }
    .embreve {
        width: 250px;
    }
    #btn {
        background-color: black;
        color: var(--verde-neon);
        width: 180px;
        height: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* CONTATOS */
    #contatos {
        /* display: flex; */
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
        justify-content: center;
        align-items: center;
    }
    #contatos img {
        z-index: -1;
        position: fixed;
        top: 150px;
        width: 100%;
        height: 600px;
        border: none;
        opacity: 0.6;
    }
    .menu-contatos {
        margin: 0 auto;
        width: 90%;
        max-height: 800px;
        border: solid;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #37ff1492;
        position: absolute;
        top: 50px;
        overflow: scroll;

    }
    .contatosGerais {
        width: 300px;
        min-height: 300px;
        border: solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
    .menuPrincipal {
        margin-top: 120px;
    }
    .contatosGerais .menu {
        background-color: black;
        font-weight: bold;
    }
    .contatosGerais .menu:hover {
        transition: 0.5s;
        background-color: black;
        color: var(--verde-neon);
        font-weight: bold;
    }
    .redes {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        font-weight: bold;
        height: 80px;
    }
    .redes i {
        color: black;
        font-size: 50px;
        font-weight: bold;
        opacity: 1;
    }
    .redes i:hover {
        font-size: 55px;
    }
    form {
        width: 90%;
        height: 90%;
        border: solid;
        color: black;
    }
    table {
        color: black;
        width: 100%;
        height: 100%;
    }
    th {
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    td {
        text-align: center;
    }
    td input[type=email], input[type=password] {
        width: 90%;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    td input[type=text] {
        color: black;
        font-size: 20px;
        font-weight: bold;
        width: 90%;
        height: 100px;
    }

     /*____________________________________  */
    footer {
        display: none;
    }
}