.inicio {
    width: 100%;
    height: 75vh;
    justify-content: center;
    background-image: linear-gradient(to bottom, transparent 68%, var(--azul-escuro));
}

.inicio-titulo {
    overflow: hidden;
    display: block;
    width: 300px;
    margin-bottom: 2rem;
    font-size: 5rem;
    text-align: center;
    animation: escrever 1s linear;
}

@keyframes escrever {
    from {
        width: 0px;
    } to {
        width: 300px;
    }
}

.inicio-funcao {
    font-size: 2rem;
}

.inicio-icones {
    display: none;
}

@media screen and (min-width: 1300px) {
    .inicio {
        height: 100vh;
        background-image: linear-gradient(to bottom, transparent 50%, var(--azul-escuro));
    }
    
    .inicio-titulo {
        width: auto;
        animation: none;
        font-size: 8rem;
        font-weight: bold;
    }
    
    .inicio-funcao {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    
    .inicio-redes {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .inicio-icones {
        display: block;
    }

    .inicio-icones a {
        justify-content: center;
        transform: rotate(-360);
        align-items: center;
        opacity: 0.8;
    }
    
    .inicio-icones a:hover {
        opacity: 1;
    }
    
    .inicio-icones a i {
        font-size: 3rem;
        padding: 12px;
    }    

}
